@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles for colour scheme, typography, and element styling */

:root {

  /* Western Sales Club Color Palette */
  --wsc-gold: #ffd95a;
  --wsc-gold-rgb: 255, 217, 90;
  --wsc-purple: #4f2683;
  --wsc-purple-rgb: 79, 38, 131; 
  --wsc-dark: #111111;
  --wsc-dark-rgb: 17, 17, 17;
  --wsc-light: #fafafa;
  --wsc-light-rgb: 250, 250, 250;
  --wsc-gray: #2b2b2b;
  --wsc-gray-rgb: 43, 43, 43;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: var(--wsc-light);
  background-color: var(--wsc-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* PAGE TITLES */
h1 {
  font-size: 3.0em;
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Georgia', Times, serif;
}

/* SECTION TITLES */
h2 {
  font-size: 2.2em;
  font-weight: 250;
  line-height: 1.1;
  font-family: 'Georgia', Times, serif;
}

/* SUB-SECTION/ITEM TITLES */
h3 {
  font-size: 1.5em;
  line-height: 1.1;
  font-family: 'Georgia', Times, serif;
}

/* PARAGRAPHS */
p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Georgia', Times, serif;
}

/* BUTTONS */
button {
  padding: 1em 2em;
  font-size: 1em;
  font-family: 'Georgia', Times, serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: rgba(var(--wsc-purple-rgb), 0.2);
  border: 2px solid rgba(var(--wsc-purple-rgb), 0.4);
  color: var(--wsc-light);
}
button:hover {
    background-color: rgba(var(--wsc-purple-rgb), 0.6);
    border-color: var(--wsc-purple);
    color: var(--wsc-light);
}
button:active {
    background-color: var(--wsc-purple);
    transform: scale(0.93);
    transition: transform 0.3s ease;
}
/* LINKS */
a { 
  font-weight: 500;
  color: var(--wsc-light);
  text-decoration: inherit;
  font-family: 'Georgia', Times, serif;
  font-size: 1.2em;
  transition: color 0.5s ease;
}
a:hover {
  color: var(--wsc-gold);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--wsc-light);
    background-color: var(--wsc-dark);
  }
  a:hover {
    color: var(--wsc-gold);
  }
  button {
    background-color: rgba(var(--wsc-purple-rgb), 0.2);
    border: 1px solid rgba(var(--wsc-purple-rgb), 0.4);
    color: var(--wsc-light);
    letter-spacing: 0.03em;
  }
  button:hover {
    background-color: rgba(var(--wsc-purple-rgb), 0.5);
    border-color: var(--wsc-purple);
    color: var(--wsc-light);
    letter-spacing: 0.03em;
  }
}
